<div class="card" id="banners-page">
    <div class="card-header">
      <h1 class="page-header">Banners</h1>
    </div>
    <div class="card-content">
      <div class="u-container-700 u-col-h-center">  
          <a href="#!" class="btn orange">+ add new</a>
          <table id="banners-table" class="u-mt-2 u-mb-2">
            <tbody>
              <tr>
                <td><h2 class="section-header">Banner main</h2></td>
                <td><a class="large" href="http://www.website.com/bannermain.gif" target="_blank">http://www.website.com/bannermain.gif</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Sign up banner</h2></td>
                <td><a class="large" href="http://www.website.com/signup.gif" target="_blank">http://www.website.com/signup.gif</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Banner left side</h2></td>
                <td><a class="large" href="http://www.website.com/leftside.gif" target="_blank">http://www.website.com/leftside.gif</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Vertical banner</h2></td>
                <td><a class="large" href="http://www.website.com/vert.gif" target="_blank">http://www.website.com/vert.gif</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Font banner</h2></td>
                <td><a class="large" href="http://www.website.com/font.gif" target="_blank">http://www.website.com/font.gif</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Horizontal banner</h2></td>
                <td><a class="large" href="http://www.website.com/horizontal.gif" target="_blank">http://www.website.com/horizontal.gif</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
    
            </tbody>
          </table>
          <a href="#!" class="btn orange">+ add new</a>
      </div> <!-- End u-container-700 -->
    </div>
  </div>