<div class="card" id="general-page">
  <div class="card-header">
    <h1 class="page-header">General statistics</h1>
  </div>
  <div class="card-content">
    <div class="u-container-700">
      <form id="period-picker" class="u-center">
        <div class="date-period">
            <input type="date" name="period-start" value="">
            <div class="v-line"></div>
            <input type="date" name="period-end" value="">
            <a href="#!"><i class="icon-calendar"></i></a>
        </div>

        <button class="btn orange icon-btn" type="submit">
            <i class="icon-refresh"></i>
        </button>
      </form>
    </div>
  </div>
  
  <div class="card-content">
    <div class="u-container-700">
      <div class="counters">
        <div class="counter">
          <span class="counter-label">Visit signups</span>
          <span class="counter-value">124</span>
        </div>
  
        <div class="counter">
          <span class="counter-label">Net deposit</span>
          <span class="counter-value">564</span>
        </div>
  
        <div class="counter">
          <span class="counter-label">FTD</span>
          <span class="counter-value">445</span>
        </div>
  
        <div class="counter">
          <span class="counter-label">Turn over</span>
          <span class="counter-value">432</span>
        </div>
      </div>

      <div class="chart">
        <h2 class="chart-header">Earnings chart</h2>
        <img src="/general_chart.9f7c75ef.png" alt="">
      </div>

  
    </div>
  </div>
</div>
