<div class="card links-page" id="links-page">
    <div class="card-header">
      <h1 class="page-header">Links</h1>
    </div>
    <div class="card-content">
      <div class="u-container-700 u-col-h-center">  
          <a href="#!" class="btn orange">+ add new</a>
          <table id="links-table" class="u-mt-2 u-mb-2">
            <tbody>
              <tr>
                <td><h2 class="section-header">Home page</h2></td>
                <td><a class="large" href="http://www.homepage.com" target="_blank">http://www.homepage.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Currently offer</h2></td>
                <td><a class="large" href="http://www.currently.com" target="_blank">http://www.currently.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Blurpix</h2></td>
                <td><a class="large" href="http://www.blurpix.com" target="_blank">http://www.blurpix.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Your site</h2></td>
                <td><a class="large" href="http://www.yoursite.com" target="_blank">http://www.yoursite.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Google</h2></td>
                <td><a class="large" href="http://www.google.com" target="_blank">http://www.google.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Facebook</h2></td>
                <td><a class="large" href="http://www.facebook.com" target="_blank">http://www.facebook.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Dashboard</h2></td>
                <td><a class="large" href="http://www.dashboard.com" target="_blank">http://www.dashboard.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Blurax</h2></td>
                <td><a class="large" href="http://www.blurax.com" target="_blank">http://www.blurax.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Piece of Wine</h2></td>
                <td><a class="large" href="http://www.peiceofwine.com" target="_blank">http://www.pieceofwine.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td><h2 class="section-header">Twitter</h2></td>
                <td><a class="large" href="http://www.twitter.com" target="_blank">http://www.twitter.com</a></td>
                <td>
                  <a href="#!" class="table-action-link"><i class="icon-links"></i></a>
                  <a href="#!" class="table-action-link delete"><i class="icon-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <a href="#!" class="btn orange">+ add new</a>
      </div> <!-- End u-container-700 -->
    </div>
  </div>