<div class="card" id="payout-page">
    <div class="card-header">
      <h1 class="page-header">Payout history</h1>
    </div>
    <div class="card-content">
      <div class="u-container-1200">
        <form id="period-picker" class="u-row-hv-center">
          <div class="date-period">
              <input type="date" name="period-start" value="">
              <div class="v-line"></div>
              <input type="date" name="period-end" value="">
              <a href="#!"><i class="icon-calendar"></i></a>
          </div>
          <button class="btn orange icon-btn" type="submit">
              <i class="icon-refresh"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="card-content">
      <div class="u-container-fluid">
        <div class="u-h-scroll">  
          <table id="details-table" class="hoverable">
            <thead>
              <tr>
                <th scope="col"><a class="sort-link" href="#!">Date <i class="icon-arrow-down-small"></i></a></th>
                <th scope="col"><a class="sort-link" href="#!">Amount ($) <i class="icon-arrow-down-small"></i></a></th>
                <th scope="col"><a class="sort-link" href="#!">Deal <i class="icon-arrow-down-small"></i></a></th>
                <th scope="col"><a class="sort-link" href="#!">Account <i class="icon-arrow-down-small"></i></a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>17/08/02 (12:58)</td>
                <td>34,425.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
              <tr>
                <td>15/08/02 (12:58)</td>
                <td>29,436.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
              <tr>
                <td>17/08/02 (12:58)</td>
                <td>34,425.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
              <tr>
                <td>15/08/02 (12:58)</td>
                <td>29,436.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
              <tr>
                <td>17/08/02 (12:58)</td>
                <td>34,425.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
              <tr>
                <td>15/08/02 (12:58)</td>
                <td>29,436.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
              <tr>
                <td>17/08/02 (12:58)</td>
                <td>34,425.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
              <tr>
                <td>15/08/02 (12:58)</td>
                <td>29,436.00</td>
                <td>cpl(200)</td>
                <td>bank</td>
              </tr>
            </tbody>
          </table>
        </div> <!-- End u-h-scroll container-->

        <div class="pagination u-mt-1">
          <a href="#!" class="arrow" disabled><i class="icon-arrow-left"></i></a>
          <a href="#!" class="active">1</a>
          <a href="#!">2</a>
          <a href="#!">3</a>
          <a href="#!">4</a>
          <a href="#!">5</a>
          <a href="#!">6</a>
          <a href="#!">7</a>
          <a href="#!">8</a>
          <a href="#!">9</a>
          <a href="#!">10</a>
          <a href="#!" class="arrow"><i class="icon-arrow-right"></i></a>
        </div>
      </div> <!-- End u-container-fluid -->
    </div>
  </div>