<div class="card" id="personal-data-page">
    <div class="card-header">
      <h1 class="page-header">Personal data</h1>
    </div>
    <form id="personal-data">
      <div class="card-content">
        <div class="u-container-450">  
          <div class="form-group-horizontal">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
          </div>
          <div class="form-group-horizontal">
            <label for="surname">Surname</label>
            <input type="text" name="surname" id="surname">
          </div>
          <div class="form-group-horizontal">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          </div>
          <div class="form-group-horizontal">
            <label for="phone">Phone number</label>
            <input type="email" name="phone" id="phone">
          </div>
        </div> <!-- u-container-450 end -->
      </div> <!-- card-content end -->

      <div class="card-content">
        <div class="u-container-450">  
          <div class="form-group-horizontal">
            <label for="skype">Skype</label>
            <input type="text" name="skype" id="skype">
          </div>
          <div class="form-group-horizontal">
            <label for="icq">ICQ</label>
            <input type="text" name="icq" id="icq">
          </div>
          <div class="form-group-horizontal">
            <label for="msn">MSN</label>
            <input type="text" name="msn" id="msn">
          </div>
        </div> <!-- u-container-450 end -->
      </div> <!-- card-content end -->

      <div class="card-content">
        <div class="u-container-450">
          <div class="form-group-horizontal">
            <label for="wallet">Wallet</label>
            <input type="text" name="wallet" id="wallet">
          </div>
        </div> <!-- u-container-450 end -->
      </div> <!-- card-content end -->

      <div class="card-content">
        <div class="u-container-450">  
          <div class="form-group-horizontal">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </div>
          <div class="form-group-horizontal">
            <label for="password-confirm">Repeat</label>
            <input type="password" name="password-confirm" id="password-confirm">
          </div>
        </div> <!-- u-container-450 end -->
      </div> <!-- card-content end -->

      <div class="card-content">
        <div class="u-container-450 u-center">  
          <button type="submit" class="btn orange">Save</button>
        </div> <!-- u-container-450 end -->
      </div> <!-- card-content end -->
    </form>
  </div>