<div class="card" id="postback-page">
    <div class="card-header">
      <h1 class="page-header">New postback</h1>
    </div>
    <form id="personal-data">
      <div class="card-content">
        <div class="u-container-1200">  
          You can insert some parameter in this postback:

          <div class="u-flex-row">
            <div class="form-group-vertical u-flex-box">
              <label for="signup-params">Signup</label>
              <textarea id="signup-params" name="signup-params" rows="10"></textarea>
            </div>
            <div class="form-group-vertical u-flex-box">
              <label for="deposit-params">Deposit</label>
              <textarea id="deposit-params" name="deposit-params" rows="10"></textarea>
            </div>
          </div>

          <div class="u-flex-row u-mt-1 u-mb-1">
            <div class="form-group-vertical u-flex-box">
                <label for="postback-type">Postback type:</label>
                <select name="postback-type" id="postback-type">
                  <option value="">Select postback method ...</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="form-group-vertical u-flex-box">
                <label for="to-countries">To countries:</label>
                <select name="to-countries" id="to-countries">
                  <option value="">Select countries ...</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="form-group-vertical u-flex-box">
                <label for="sending-option">Sending options:</label>
                <select name="sending-option" id="sending-option">
                  <option value="">Select sending options ...</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="2">Option 4</option>
                  <option value="3">Option 5</option>
                </select>
              </div>
          </div>

        </div> <!-- u-container-1200 end -->
      </div> <!-- card-content end -->

      <div class="card-content">
        <div class="u-container-1200">  
          <div class="card-boxes-wrapper">
            <div class="card-box">
              <label><span class="warn">Not</span> send statuses</label>
              <div class="checkboxes">
                <div class="form-group-checkbox">
                  <input type="checkbox" id="check-number" name="check-number" value="check-number">
                  <label for="check-number">checkNumber</label>
                </div>
  
                <div class="form-group-checkbox">
                  <input type="checkbox" id="no-answer" name="no-answer" value="no-answer">
                  <label for="no-answer">noAnswer</label>
                </div>
  
                <div class="form-group-checkbox">
                  <input type="checkbox" id="no-call" name="no-call" value="no-call">
                  <label for="no-call">noCall</label>
                </div>
  
                <div class="form-group-checkbox">
                  <input type="checkbox" id="call-again" name="call-again" value="call-again">
                  <label for="call-again">callAgain</label>
                </div>

                <div class="form-group-checkbox">
                  <input type="checkbox" id="check-number" name="check-number" value="check-number">
                  <label for="check-number">checkNumber</label>
                </div>
  
                <div class="form-group-checkbox">
                  <input type="checkbox" id="no-answer" name="no-answer" value="no-answer">
                  <label for="no-answer">noAnswer</label>
                </div>
  
                <div class="form-group-checkbox">
                  <input type="checkbox" id="no-call" name="no-call" value="no-call">
                  <label for="no-call">noCall</label>
                </div>
  
                <div class="form-group-checkbox">
                  <input type="checkbox" id="call-again" name="call-again" value="call-again">
                  <label for="call-again">callAgain</label>
                </div>
              </div> <!-- checkoboxes end -->
            </div>

            <div class="card-box">
              <label for="send-delay">Send after:</label>
              <div class="range-slider">
                <div class="range-slider-label" id="my-range-label">#</div> 
                <div class="range-slider-label" id="my-range-label">#</div>
                <input type="range" min="0" max="10" value="5" id="send-delay" name="send-delay" min="0" max="168" value="0"/> 
              </div> 
            </div>
            
          </div>
        </div> <!-- u-container-1200 end -->
      </div> <!-- card-content end -->

      <div class="card-content">
        <div class="u-container-1200 u-right">  
          <button type="submit" class="btn orange">Send postback</button>
        </div> <!-- u-container-1200 end -->
      </div> <!-- card-content end -->
    </form>
  </div>