.content-wrapper {
  min-height: calc(100vh - #{$topbar-height});
  margin: $topbar-height 0 0 $sidebar-width;
  background-color: $content-wrapper-background-color;
  transition: all $sidebar-slide-time;
  display: flex;
  &.full {
    margin-left: 0;
  }
}