.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidebar-width;
  background-color: $black;
  z-index: 1;
  transition: left $sidebar-slide-time;

  &.hidden {
    left: -$sidebar-width;

    & #sidebar-toggle-btn {
      transform: translateX(50px);
      transition: transform $sidebar-toggle-btn-slide-time ease-in-out $sidebar-slide-time;

      &:hover {
        color: $grey-6;
      }
    }
  }
  
  // Sidebar header
  &__header {
    height: $topbar-height;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-family: 'Pacifico', cursive;
    color: $white;
    font-size: 23px;
    padding: 0 $sidebar-items-h-padding;
  }

  // Sidebar toggle button
  &__toggle-btn
   {
    color: $grey-5;
    font-size: 16px;
    transition: transform $sidebar-toggle-btn-slide-time;
    &:hover {
      color: $white;
    }
  }

  // Sidebar nav
  &__nav {
    padding-bottom: $sidebar-items-v-padding;
    border-bottom: 1px solid $sidebar-border-color;
  }

  &__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__nav-link {
    position: relative;
    display: block;
    color: $grey-5;
    padding: 12px $sidebar-items-h-padding;
    &:hover {
      background-color: $grey-6;
      color: $white;
    }
    & i {
      margin-right: 12px;
    }

    // Active page indicator
    &.js-active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      width: 4px;
      background: $orange;
    }
  }

  // Manager section
  &__manager {
    &-info {
      padding: $sidebar-items-v-padding $sidebar-items-h-padding;
    }

     &-title {
      color: $grey-5;
      font-weight: $font-weight-medium;
      text-transform: uppercase;
      letter-spacing: -0.28px;
      margin-bottom: 14px;
    }

    &-name {
      margin-left: 12px;
      cursor: pointer;
    }

    &-avatar {
      display: inline-block;
      height: 43px;
      width: 43px;
      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 99px;
      }

      // Manager status indicator
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 99px;
        background-color: $blue-dark; // Preloaded status indicator color before dynamically added status class by js
      }
      // Colors for status indidator (classed added dynamically by js)
      &.js-online::before {
        background-color: $green;
      }
      &.js-offline::before {
        background-color: $red-dark;
      }
      &.js-busy::before {
        background-color: $orange-light;
      }
    } 
  }
}