
.topbar {
  position: fixed;
  top:0;
  right:0;
  margin-left: $sidebar-width;
  height: $topbar-height;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $topbar-border-color;
  display: flex;
  justify-content: flex-end;

  // Topbar nav
  &__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    align-items: stretch;
  }

  &__nav-item {
    padding: 0 12px;
    border-right: 1px solid $topbar-border-color;
  
    display: flex;
    align-items: center;

    & i:before {
      color: $grey-4; 
      margin: 0 3px;
    }
  }

  &__account-balance {
    font-size: $font-size-lg;
    color: $grey-4;
    font-weight: $font-weight-medium;
    margin: 0 10px;
  }
  & .icon-arrow-down {
    font-size: .67em;
  }

  // New notification indicator
  & .js-new-notification {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -20%;
      right: 10%;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 99px;
      background-color: $orange;
    }
  }
}