.u-container-700 {
  max-width: 700px;
  margin: 0 auto;
}

.u-h-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.u-v-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.u-vh-center,
.u-hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Simple flexbox grid
$grid-h-gutter: 18px;
$grid-v-gutter: 12px;

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: (-$grid-h-gutter / 2);
  margin-right: (-$grid-h-gutter / 2);
}

[class^="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-bottom: $grid-v-gutter;
  padding-right: ($grid-h-gutter / 2);
  padding-left: ($grid-h-gutter / 2);
}
  
@for $i from 1 through 12 {
  $width: percentage( $i/12 );
  .col-#{$i} {
    flex-basis: $width;
    max-width: $width; 
  }
  .col-offset-#{$i} {
    margin-left: $width;
  }
}