body {
 font-family: $font-stack-base;
 font-size: $base-font-size;
 font-weight: $font-weight-normal;
 color: $grey-6;
}

.section-header,
.page-header {
  font-size: $font-size-lg;
  color: $grey-4;
  margin: $font-size-lg 0;
}

.section-header {
  font-weight: $font-weight-bold;
 }
 
 .page-header {
  font-weight: $font-weight-medium;
  text-transform: uppercase;
 }

 p {
  margin: .67em 0;
  line-height: 1.3;
 }

h1, h2, h3, h4, h5, h6 {
  margin: .67em 0;
}

 a {
  color: $navyblue;
  font-weight: $font-weight-normal;
  text-decoration: none;

  &:hover {
    color: $orange-light;
  }

  &.large {
    font-size: $font-size-lg;
  }

  &.small {
    font-size: $font-size-sm;
  }
}




