// Typhograpy

$font-stack-base: 'Roboto', sans-serif !default;

$font-size-sm: 13px;
$font-size-md: 14px; // Base font size
$font-size-lg: 16px; // Header
$font-size-xlg: 18px; // Buttons

$base-font-size: $font-size-md;

$font-weight-normal: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

// COLORS
$black: #191919 !default; // 10%
$white: #fff !default;

$grey-1: #f5f5f5 !default; // 96%
$grey-2: #e3e3e3 !default; // 89%
$grey-3: #bababa !default; // 73%
$grey-4: #a6a6a6 !default; // 65%
$grey-5a: #979797 !default; // 59%
$grey-5: #808080 !default; // 50%
$grey-6: #333333 !default; // 20%

$orange: #f58220 !default;
$orange-light: #ffa200 !default;

$red: #f00 !default;
$red-dark: #ad0000 !default;
$carmine: #de5252 !default;
$carmine-light: #ec7171 !default;

$green: #04ae00 !default;
$ferngreen: #74b67a !default;
$ferngreen-light: #96cc9b !default;

$navyblue: #56819f !default;
$skyblue: #80bfca !default;
$blue-dark: #2525a8 !default;

// BUTTONS vars
$btn-height: 2.5 * $font-size-lg;
$btn-h-padding: 12px;
$btn-border-radius: 3px;

// SIDENAV vars
$sidebar-width: 190px;
$sidebar-items-h-padding: 18px;
$sidebar-items-v-padding: 24px;
$sidebar-border-color: $grey-6;
$sidebar-slide-time: .5s;
$sidebar-toggle-btn-slide-time: .3s;

// TOPBAR vars
$topbar-height: 46px;
$topbar-border-color: $grey-2;

// CONTENT-WRAPPER vars
$content-wrapper-background-color: $grey-1;
$content-wrapper-padding: 18px;

// CARDs vars
$card-margin: 18px;
$card-padding: 24px;
$card-border-color: $grey-2;