.sg-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 20px;
}

.sg-card-wrapper {
  background-color: #f5f5f5;
  display: flex;
}

.font300 {
  font-weight: 300;
}

.font500 {
  font-weight: 500;
}

.font700 {
  font-weight: 700;
}

[class^="col-"] {
  // border: 1px solid red;

  & > span {
    display: block;
    background-color: yellow;
  }
}