/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Box sizing reset */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* Forms reset
	 https://gist.github.com/anthonyshort/552543
*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit; }

input:focus,
textarea:focus,
select:focus {
  outline: 0; }

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333333; }

.section-header,
.page-header {
  font-size: 16px;
  color: #a6a6a6; }

.page-header {
  font-weight: 500;
  text-transform: uppercase;
  margin: 16px 0; }

.section-header {
  font-weight: 700;
  margin: 0; }

p {
  margin: .67em 0;
  line-height: 1.3; }

h1, h2, h3, h4, h5, h6 {
  margin: .67em 0; }

a {
  color: #56819f;
  font-weight: 300;
  text-decoration: none; }
  a:hover {
    color: #ffa200; }
  a.large {
    font-size: 16px; }
  a.small {
    font-size: 13px; }

.u-left {
  text-align: left; }

.u-center {
  text-align: center; }

.u-right {
  text-align: right; }

.u-nowrap {
  white-space: nowrap; }

.u-container-450 {
  max-width: 450px;
  margin: 0 auto; }

.u-container-700 {
  max-width: 700px;
  margin: 0 auto; }

.u-container-1200 {
  max-width: 1200px;
  margin: 0 auto; }

.u-container-fluid {
  margin: 0;
  width: 100%; }

.u-flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 -12px; }
  .u-flex-row > .u-flex-box {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    padding: 0 12px; }

.u-row-h-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start; }

.u-row-v-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center; }

.u-row-vh-center,
.u-row-hv-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.u-col-h-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.u-h-scroll {
  overflow-x: auto; }

.u-mt-1 {
  margin-top: 16px; }

.u-mt-2 {
  margin-top: 24px; }

.u-mt-3 {
  margin-top: 32px; }

.u-mt-4 {
  margin-top: 48px; }

.u-mb-1 {
  margin-bottom: 16px; }

.u-mb-2 {
  margin-bottom: 24px; }

.u-mb-3 {
  margin-bottom: 32px; }

.u-mb-4 {
  margin-bottom: 48px; }

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px; }

[class^="col-"] {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  margin-bottom: 12px;
  padding-right: 9px;
  padding-left: 9px; }

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%; }

.col-offset-3 {
  margin-left: 25%; }

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%; }

.col-offset-6 {
  margin-left: 50%; }

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%; }

.col-offset-9 {
  margin-left: 75%; }

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%; }

.col-offset-12 {
  margin-left: 100%; }

/* Generated by Glyphter (http://www.glyphter.com) on  Wed Jul 18 2018*/
@font-face {
  font-family: 'Glyphter';
  src: url("Glyphter.99f13398.eot");
  src: url("Glyphter.99f13398.eot?#iefix") format("embedded-opentype"), url("Glyphter.d004584b.woff") format("woff"), url("Glyphter.20ca2dc9.ttf") format("truetype"), url("Glyphter.194a4c3a.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -15%;
  /* Fix verical align icons */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: '\0041'; }

.icon-arrow-down-small:before {
  content: '\0042'; }

.icon-arrow-left:before {
  content: '\0043'; }

.icon-arrow-right:before {
  content: '\0044'; }

.icon-arrow-up:before {
  content: '\0045'; }

.icon-arrow-up-small:before {
  content: '\0046'; }

.icon-banners:before {
  content: '\0047'; }

.icon-calendar:before {
  content: '\0048'; }

.icon-close:before {
  content: '\0049'; }

.icon-details:before {
  content: '\004a'; }

.icon-general:before {
  content: '\004b'; }

.icon-links:before {
  content: '\004c'; }

.icon-login:before {
  content: '\004d'; }

.icon-message:before {
  content: '\004e'; }

.icon-negative:before {
  content: '\004f'; }

.icon-notification:before {
  content: '\0050'; }

.icon-password:before {
  content: '\0051'; }

.icon-payout:before {
  content: '\0052'; }

.icon-personaldata:before {
  content: '\0053'; }

.icon-positive:before {
  content: '\0054'; }

.icon-postback:before {
  content: '\0055'; }

.icon-profile:before {
  content: '\0056'; }

.icon-quit:before {
  content: '\0057'; }

.icon-refresh:before {
  content: '\0058'; }

.icon-show:before {
  content: '\0059'; }

.icon-trash:before {
  content: '\005a'; }

.icon-url:before {
  content: '\0061'; }

.icon-wallet:before {
  content: '\0062'; }

.icon-menu:before {
  content: '\0063'; }

.btn {
  display: inline-block;
  height: 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  text-align: center;
  padding: 0 24px;
  border-radius: 3px;
  background-color: #808080;
  border: 1px solid transparent;
  cursor: pointer; }
  .btn:hover, .btn:active {
    color: #fff;
    background-color: #bababa;
    outline: none; }
  .btn.orange {
    background-color: #f58220; }
    .btn.orange:hover, .btn.orange:active {
      background-color: #ffa200; }
  .btn.icon-btn {
    width: 40px;
    font-size: 16px;
    padding: 0; }
  .btn.disabled, .btn.disabled:hover, .btn[disabled], .btn[disabled]:hover {
    background-color: #e3e3e3;
    cursor: not-allowed; }

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  color: #333333; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  textarea:focus,
  select:focus {
    border-color: #a6a6a6; }

input[type=text],
input[type=email],
input[type=password],
select {
  height: 40px;
  font-size: 14px;
  padding: 0 1em; }

textarea {
  font-size: 13px;
  color: #bababa;
  padding: 1em;
  resize: none; }

label {
  font-size: 14px;
  color: #a6a6a6;
  font-weight: 700;
  text-align: left; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 3em;
  background-image: url(https://image.flaticon.com/icons/png/128/118/118738.png);
  background-size: 1em auto;
  background-repeat: no-repeat;
  background-position: right 1em center; }

.form-group-vertical {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .form-group-vertical label {
    margin: 16px 0; }

.form-group-horizontal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 16px 0; }
  .form-group-horizontal label {
    margin-right: 1em; }
  .form-group-horizontal input {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }

.form-group-checkbox {
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center; }
  .form-group-checkbox label {
    color: #333333;
    font-weight: 300;
    margin-left: 1em; }

.card {
  margin: 18px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125); }

.card-header {
  width: 100%;
  padding: 0 24px;
  border-bottom: 1px solid #e3e3e3; }

.card-content {
  width: 100%;
  padding: 24px; }
  .card-content:not(:last-child) {
    border-bottom: 1px solid #e3e3e3; }
  .card-content .card-boxes-wrapper {
    margin: -24px;
    display: -ms-flexbox;
    display: flex;
    direction: row;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    .card-content .card-boxes-wrapper .card-box {
      -ms-flex-positive: 1;
          flex-grow: 1;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      margin: 0;
      padding: 24px; }
      .card-content .card-boxes-wrapper .card-box:not(:last-child) {
        border-right: 1px solid #e3e3e3; }

.date-period {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  height: 40px;
  padding: 6px 12px;
  margin-right: 18px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: stretch;
      align-items: stretch; }
  .date-period:hover {
    border: 1px solid #a6a6a6; }
  .date-period input[type=date] {
    width: 120px; }
  .date-period .v-line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #e3e3e3;
    margin: 0 6px; }
  .date-period a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #a6a6a6; }
    .date-period a:hover {
      color: #333333; }

.counter {
  width: 300px;
  height: 40px;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 14px 14px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .counter .counter-label {
    font-size: 16px;
    font-weight: 300;
    color: #808080; }
  .counter .counter-value {
    font-size: 16px;
    font-weight: 300;
    color: #191919; }

table {
  border-collapse: collapse;
  width: 100%; }
  table thead tr,
  table tbody tr {
    height: 56px;
    border-bottom: 1px solid #e3e3e3; }
  table tbody tr {
    border-top: 1px solid #e3e3e3; }
  table.hoverable tbody tr:hover {
    background-color: #f5f5f5; }
  table th,
  table td {
    padding: 0 10px;
    text-align: left;
    vertical-align: middle; }
  table th {
    color: #333333;
    font-weight: 700; }
    table th a.sort-link {
      display: inline-block;
      margin: -10px;
      padding: 10px 10px;
      color: #bababa;
      font-weight: 700;
      white-space: nowrap; }
      table th a.sort-link i {
        font-size: .67em;
        margin-left: .67em;
        opacity: 0; }
      table th a.sort-link:hover {
        background-color: #f5f5f5;
        border-radius: 3px;
        color: #333333; }
        table th a.sort-link:hover i {
          color: #bababa;
          opacity: 1; }
  table td {
    color: #333333;
    font-weight: 500; }
    table td a.table-action-link {
      visibility: hidden;
      margin: 0 .5em; }
      table td a.table-action-link.delete, table td a.table-action-link.delete:hover {
        color: #f00; }
  table tr:hover td a.table-action-link {
    visibility: visible; }

.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .pagination a {
    display: inline-block;
    height: 40px;
    min-width: 40px;
    padding: 0 .5em;
    margin: 0 -.125em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .pagination a.active {
      color: #a6a6a6;
      font-weight: 500;
      background-color: #f5f5f5;
      border-radius: 3px; }
    .pagination a:first-child, .pagination a:last-child {
      margin: 0 .5em; }
    .pagination a.disabled, .pagination a.disabled:hover, .pagination a[disabled], .pagination a[disabled]:hover {
      color: #a6a6a6;
      cursor: default; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 190px;
  background-color: #191919;
  z-index: 1;
  transition: left 0.5s; }
  .sidebar.hidden {
    left: -190px; }
    .sidebar.hidden #sidebar-toggle-btn {
      transform: translateX(50px);
      transition: transform 0.3s ease-in-out 0.5s; }
      .sidebar.hidden #sidebar-toggle-btn:hover {
        color: #333333; }
  .sidebar__header {
    height: 46px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 23px;
    padding: 0 18px; }
  .sidebar__toggle-btn {
    color: #808080;
    font-size: 16px;
    transition: transform 0.3s; }
    .sidebar__toggle-btn:hover {
      color: #fff; }
  .sidebar__nav {
    padding-bottom: 24px;
    border-bottom: 1px solid #333333; }
  .sidebar__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .sidebar__nav-link {
    position: relative;
    display: block;
    color: #808080;
    padding: 12px 18px; }
    .sidebar__nav-link:hover {
      background-color: #333333;
      color: #fff; }
    .sidebar__nav-link i {
      margin-right: 12px; }
    .sidebar__nav-link.active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      width: 4px;
      background: #f58220; }
  .sidebar__manager-info {
    padding: 24px 18px; }
  .sidebar__manager-title {
    color: #808080;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    margin-bottom: 14px; }
  .sidebar__manager-name {
    margin-left: 12px;
    cursor: pointer; }
  .sidebar__manager-avatar {
    display: inline-block;
    height: 43px;
    width: 43px;
    position: relative; }
    .sidebar__manager-avatar img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 99px; }
    .sidebar__manager-avatar::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 99px;
      background-color: #2525a8; }
    .sidebar__manager-avatar.online::before {
      background-color: #04ae00; }
    .sidebar__manager-avatar.offline::before {
      background-color: #ad0000; }
    .sidebar__manager-avatar.busy::before {
      background-color: #ffa200; }

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 190px;
  height: 46px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  .topbar__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch; }
  .topbar__nav-item {
    padding: 0 12px;
    border-right: 1px solid #e3e3e3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .topbar__nav-item i:before {
      color: #a6a6a6;
      margin: 0 3px; }
  .topbar__account-balance {
    font-size: 16px;
    color: #a6a6a6;
    font-weight: 500;
    margin: 0 10px; }
  .topbar .icon-arrow-down {
    font-size: .67em; }
  .topbar .new-notification {
    position: relative; }
    .topbar .new-notification::after {
      content: "";
      position: absolute;
      top: -20%;
      right: 10%;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 99px;
      background-color: #f58220; }

.content-wrapper {
  min-height: calc(100vh - 46px);
  margin: 46px 0 0 190px;
  background-color: #f5f5f5;
  transition: all 0.5s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .content-wrapper.full {
    margin-left: 0; }

#general-page .counters {
  margin-bottom: 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

#general-page .chart {
  width: 100%; }
  #general-page .chart .chart-header {
    font-size: 16px;
    font-weight: 300;
    color: #808080; }
  #general-page .chart img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

#details-table {
  font-size: 13px; }

#links-table {
  font-size: 16px;
  table-layout: fixed; }
  #links-table td:nth-of-type(1) {
    padding-left: 1.5em;
    width: 40%; }
  #links-table td:nth-of-type(2) {
    width: 45%; }
  #links-table td:nth-of-type(3) {
    width: 15%;
    text-align: right; }

#banners-table {
  font-size: 16px;
  table-layout: fixed; }
  #banners-table td:nth-of-type(1) {
    padding-left: 1.5em;
    width: 35%; }
  #banners-table td:nth-of-type(2) {
    width: 50%; }
  #banners-table td:nth-of-type(3) {
    width: 15%;
    text-align: right; }

#postback-page .checkboxes {
  margin-top: 16px;
  padding-left: 16px;
  max-height: 160px;
  overflow-y: auto; }

#postback-page .warn {
  color: #f00;
  text-transform: uppercase;
  font-size: 1.25em;
  vertical-align: bottom; }
