.general {

  &__period-picker-wrapper {
    border: 1px solid $grey-2;
    border-radius: $btn-border-radius;
    height: 44px;
    padding: 6px 12px;
    margin-right: 18px;

    display: flex;
    align-items: center;

    & input:first-child:after {
      content: '';
      margin: 0 6px;
      width: 1px;
      height: 32px;
      background-color: $grey-2;
    }
  }

  & .counters {
    margin-bottom: 3 * $base-font-size;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  & .chart {
    width: 100%;

    & .chart-header {
      font-size: $font-size-lg;
      font-weight: $font-weight-normal;
      color: $grey-5;
    }
  
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
}