<div class="card general">
  <div class="card-header">
    <h1 class="page-header">General statistics</h1>
  </div>
  <div class="card-content">
    <div class="u-container-700">
      <form id="period-picker" class="u-hv-center">
        <div class="general__period-picker-wrapper">
            <input type="date" id="period-start" name="period-start" value="">
            <input type="date" id="period-end" name="period-end" value="">
            <a href="#!"><i class="icon-calendar"></i></a>
        </div>

        <button class="btn orange" type="submit">
            <i class="icon-refresh"></i>
        </button>
      </form>
    </div>

  </div>
  <div class="card-content">
    <div class="u-container-700">
      <div class="counters">
        <div class="counter-wrapper">
          <span class="counter-label">Visit signups</span>
          <span class="counter-value">124</span>
        </div>
  
        <div class="counter-wrapper">
          <span class="counter-label">Net deposit</span>
          <span class="counter-value">564</span>
        </div>
  
        <div class="counter-wrapper">
          <span class="counter-label">FTD</span>
          <span class="counter-value">445</span>
        </div>
  
        <div class="counter-wrapper">
          <span class="counter-label">Turn over</span>
          <span class="counter-value">432</span>
        </div>
      </div>

      <div class="chart">
        <h2 class="chart-header">Earnings chart</h2>
        <img src="../images/fillers/general_chart.png" alt="">
      </div>

    </div>
  </div>
</div>
