.card {
  width: 100%;
  margin: $card-margin;
  background-color: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.125);
}

.card-header {
  width: 100%;
  padding: 0 $card-padding;
  border-bottom: 1px solid $card-border-color;
}

.card-content {
  width: 100%;
 padding: $card-padding;
}

.card-content:not(:last-child) {
  border-bottom: 1px solid $card-border-color;
}