.counter-wrapper {
  width: 300px;
  height: 2.5 * $font-size-lg;
  border-bottom: 1px solid $grey-2;
  margin: 0 $base-font-size $base-font-size;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & .counter-label {
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
    color: $grey-5;
  }
  
  & .counter-value {
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
    color: $black;
  }
}

